/* ---------- Global Style ---------- */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
  margin: 10px 0;
}

a {
  cursor: pointer;
}

a:hover, a:focus {
  text-decoration: none;
}

section {
  border: 5px double #eee;
  border-radius: 10px;
  padding: 30px 20px;
}


/* ---------- Custom Style ---------- */
body > .container {
  max-width: 900px;
}

/*.margin-top {
  margin-top: 30px;
}*/

#brand {
  padding: 20px 10px;
  font-size: 30px;
  font-family: monospace;
  display: inline-block;
}

.poster {
  width: 100%;
  display: block;
}

#err-not-found,
#err-for-many {
  display: none;
}

.modal-body .col-sm-5 p {
  text-align: center;
  color: red;
}

.movie-item {
  height: 530px;
}

.input-err {
  color: red;
  font-size: 90%;
}

#result-group img {
  width: 30%;
  display: inline-block;
  margin-right: 5px;
}


/* ---------- Rating Stars ---------- */
.rating {
  color: #ccc;
  font-size: 1.5em;
  float: left;
}

.rating:not(:checked) > input {
  position: absolute;
  top: -9999px; /* dismiss radio button */
}

.rating:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap; /* never wrap */
  cursor: pointer;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #ffc107;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9800;
}

.star {
  color: #ffc107;
  font-size: 1.3em;
  font-weight: lighter;
}

#main .top-bar {
  padding: 0 15px;
}

#main .top-bar form {
  width: 50%;
}

/* User Auth */
#user-auth {
  float: right;
  margin: 30px 0 0 0;
}

/* Extra small devices (phones, less than 320px) */
@media screen and (max-width: 767px) {
  #user-auth {
    float: none;
    margin: 0 0 20px 0;
  }
  #main .top-bar form {
    float: none;
    width: 100%;
    margin-top: 10px;
  }
}

#user-auth input {
  font-size: 90%;
  padding: 0 7px;
  height: 3rem;
}
