<section id='main'>
  <div class="clearfix">
    <a ui-sref='newMovie' class="btn btn-success">Add Movie</a>
    <form class="pull-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>

  <div class="clearfix margin-top">
    <div class="col-sm-4">
      <img src="/assets/images/film_icon.png" class="poster" alt="movie poster">
      <h4>Movie Title</h4>
    </div>

    <div class="col-sm-4">
      <img src="/assets/images/film_icon.png" class="poster" alt="movie poster">
      <h4>Movie Title</h4>
    </div>

    <div class="col-sm-4">
      <img src="/assets/images/film_icon.png" class="poster" alt="movie poster">
      <h4>Movie Title</h4>
    </div>
  </div>
</section>
