<section id='main'>
  <div class="clearfix">
    <a ng-click="main.openModal()" class="btn btn-success">Add Movie</a>
    <form class="pull-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="main.searchWord">
      </div>
    </form>
  </div>

  <div class="clearfix">
    <div class="col-sm-4 margin-top" ng-repeat="movie in main.allMovies | search : main.searchWord">
      <img class="poster" src="{{ movie.img_src }}" alt="{{ movie.title }}">
      <h4 ng-bind="movie.title"></h4>
      <p ng-bind="movie.rating"></p>
      <p ng-bind="movie.genre"></p>
      <p ng-bind="movie.review"></p>
    </div>
  </div>
</section>
